!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title Lance Ball
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    :css
      body {
        padding-top: 60px;
      }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'http://html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    .navbar.navbar-fixed-top
      .container
        %a.navbar-brand{ :href=>"#{site.base_url}" } Lance Ball
        %button.navbar-toggle{ :type=>"button", :'data-toggle'=>"collapse", :'data-target'=>"#navbar-main" }
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        #navbar-main.nav-collapse.collapse.pull-right
          %ul.nav.navbar-nav
            %li
              %a{ :href=>"#{site.linkedin}" } LinkedIn
            %li
              %a{ :href=>"#{site.twitter}" } Twitter
            %li
              %a{ :href=>"#{site.github}" } Github
            %li
              %a{ :href=>"#{site.tumblr}" } Tumblr

    .container
      .page-header
        .row
          %p.lead.pull-right
            I'm a software developer. I work for
            %a{:href=>'http://redhat.com'} Red Hat.
      ~ content
      %hr
      %footer
        %p &copy; Lance Ball #{Date.today.year}
    -# Uncomment script tags (remove leading -#) when you're ready to use behaviors
    %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-collapse.js" }
